<div class="container_recent-post">
    <img [alt]="altText" [ngSrc]="imageSrc" width="1920" height="1080">
    <div class="container_info">
        <app-author-and-date [author]="author" [date]="date"></app-author-and-date>
        <h3><a [routerLink]="path">{{ title }} </a></h3>
        <p> {{ subtitle }} </p>
        <div class="tags">
            <ng-container *ngFor="let tag of tags">
                <app-content-tag [label]="tag"></app-content-tag>
            </ng-container>
        </div>
    </div>
</div>
