.container_recent-post {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.container_recent-post > img {
    width: 15vw;
    height: auto;
}

.container_info {
    display: flex;
    flex-direction: column;
    margin-left: 1vw;
    margin-right: 2vw;
}

.container_info > h3 {
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
}

.container_info > p {
    padding-top: 1vh;
    padding-bottom: 1vh;
    color: #2d3a3a;
}

a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    color: #2d6b70;
    border-bottom: #2d6b70 solid 1px;
}
