.tag {
    font-family: Roboto Thin, sans-serif;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    font-size: 0.8rem;
    border: 1px solid black;
    border-radius: 64px;
    width: fit-content;
}
.tag:hover {
    background-color: lightgray;
}
