<app-menu-bar></app-menu-bar>
<app-main-title></app-main-title>
<h2>Posts mais recentes:</h2>
<div class="recent-posts-grid">
    <app-most-recent-post></app-most-recent-post>
    <app-recent-post imageSrc="images/parceria-nasa.jpg"
                     title="Parceria com a NASA amplia projetos do IMD."
                     subtitle="Projetos envolvendo simulações de órbitas planetárias com auxílio de IA podem revolucionar astronomia."
                     author="Arnold Springbootegger">

    </app-recent-post>
    <app-recent-post imageSrc="images/competicao.jpg"
                     title="Competição de programação do curso de TI acontecerá em dezembro."
                     subtitle="Os melhores classificados avançam para a etapa regional. Equipe mentorada pelo professor Thanos se destaca por eliminar 50% dos concorrentes logo no primeiro dia."
                     author="Vini Senior"></app-recent-post>
    <app-recent-post imageSrc="images/hacking.jpg" title="Pesquisa investiga hábitos dos alunos do IMD."
                     subtitle="Objetivo é elencar aspectos saudáveis e prejudicias relacionados ao ambiente acadêmico e profissional. Higiene do sono preocupa."
                     author="Javanildo Rails"></app-recent-post>
</div>
<h2>Todos os posts:</h2>
<div class="all-posts">
    <app-post-card></app-post-card>
</div>
<div class="pagination"></div>
<app-footer></app-footer>
<router-outlet />
