.container_main-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 4rem;
}

p {
    font-size: 1.1rem;
    text-align-last: center;
}

@media (max-width: 768px) {
    h1 {
        font-size: 3rem;
    }

    p {
        margin-left: 4vw;
        margin-right: 4vw;
    }
}
