.container_menu-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2vh;
    background-image: linear-gradient(to left, white 0vw, lightgrey 100vw);
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.menu-items {
    display: flex;
    gap: 2vw;
    padding-left: 10vw;
    padding-right: 10vw;
    align-items: center;
}

.logo {
    padding-left: 5vw;
}

a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

a:hover {
    color: #2d6b70;
}

.subscribe-button {
    background-color: black;
    color: white;
    padding: 1vh 1vw;
    border-radius: 16px;
}

.subscribe-button:hover {
    background-color: #2d6b70;
    color: white;
}
