<div class="container_most-recent-post">
    <a [routerLink]="path">
        <img [alt]="altText" [ngSrc]="imageSrc" width="1920" height="1282">
        <app-author-and-date [author]="author" [date]="date"></app-author-and-date>
        <div class="titulo">
            <h2>{{title}}</h2>
            <img src="icons/link-arrow.png" class="link-arrow">
        </div>
    </a>
    <p>{{description}}</p>
    <div class="tags">
        <ng-container *ngFor="let tag of tags">
            <app-content-tag [label]="tag"></app-content-tag>
        </ng-container>
    </div>
</div>
