.container_most-recent-post {
    display: flex;
    flex-direction: column;
    width: 40vw;
}

.container_most-recent-post > a > img {
    width: 100%;
    height: auto;
}

.titulo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40vw;
}

.link-arrow {
    height: 1.5rem;
}

a:link {
    text-decoration: none;
    color: inherit;
}
a:hover {
    color: #2d6b70;
}
.titulo > h2:hover {
    text-decoration: underline;
}

.tags {
    display: flex;
    flex-direction: row;
    gap: 0.5vh;
    margin-top: 0.5vh;
}

p {
    color: #2d3a3a;
}

@media (max-width: 768px) {
    .container_most-recent-post {
        width: 92vw;
        justify-content: center;
    }

    .titulo {
        width: 92vw;
    }

    .link-arrow {
        display: none;
    }
}
